{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": "defaults"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
