{
  "env": {
    "development": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    },

    "test": {
      "presets": ["latest"]
    }
  },
}
